input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

li:has([type="checkbox"]:checked) {
  opacity: 0.7;
}

.editable {
    outline: none;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}